/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    quants_modules_testdata_base_path = "${projectDir}/tests/"
    quants_pipelines_testdata_base_path = "${projectDir}/tests/"
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}
