// Config used by nf-test to simulate missing iget binary
process {
  withName: 'IRODS_IGET' {
    shell = '/bin/bash'
    // Prepend the test environment to the task script
    beforeScript = '''
      {
        echo 'export PATH='
        echo 'unset -f iget'
        cat .command.sh
      } > .command.missing_iget.sh
      mv .command.missing_iget.sh .command.sh
    '''
  }
}
